<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" id="footer" class="footer">
<script>
    let token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    let header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    $(document).ready(function() {

        setTimeout(function(){
            $('#loader-wrapper').hide();
        }, 600);

    });


function logout() {
    fetch('/admin/logout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            [header]: token
        },
        body: '' // No body for this request
    })
    .then(response => {
        if(response.ok) {
            // Redirect to login page or show a success message
            window.location.href = '/admin/login';
        } else {
            // Handle errors
            console.error('Logout failed');
        }
    })
    .catch(error => console.error('Error:', error));
}

</script>

    <script  src="/toaster/js/toaster.js"></script>
    <div class="copyright">
         Copyright &copy; <strong><span>DeliX</span> 2024</strong>. All Rights Reserved
    </div>
</footer>
</html>