<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="aside" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin" th:classappend="${currentPage != '/admin' ? 'collapsed' : ''}">
                <i class="bi bi-grid"></i>
                <span>Tableau de bord</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-target="#agency-nav" data-bs-toggle="collapse"
               th:classappend="${currentPage == '/agency/add' || currentPage == '/admin/agencies' ? '' : 'collapsed'}">
                <i class="bi bi-building"></i>
                <span>Agences</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="agency-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav"
                th:classappend="${currentPage == '/agency/add' || currentPage == '/admin/agencies' ? 'show' : ''}">
                <li>
                    <a th:href="@{/admin/agency/add}"
                       th:classappend="${currentPage == '/agency/add' ? 'active' : ''}"><i
                        class="bi bi-circle"></i><span>Ajouter une agence</span></a></li>
                <li>
                    <a th:href="@{/admin/agencies}"
                       th:classappend="${currentPage == '/admin/agencies' ? 'active' : ''}">
                        <i class="bi bi-circle"></i>
                        <span>Liste des agences</span></a>
                </li>
            </ul>
        </li>


        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Under Development">
            <a class="nav-link collapsed" data-bs-target="#customrs-nav" data-bs-toggle="collapse">
                <i class="bi bi-people"></i><span>Clients</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="customrs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{/admin/customer/add}" th:classappend="${currentPage == '/customer/add' ? 'active' : ''}">
                        <i class="bi bi-circle"></i>
                        <span>Ajouter un client</span>
                    </a>
                </li>
                <li>
                    <a href="./customers" th:classappend="${currentPage == '/customers' ? 'active' : ''}">
                        <i class="bi bi-circle"></i><span>Liste des clients</span>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Under Development">
            <a class="nav-link " data-bs-target="#parcels-nav" data-bs-toggle="collapse" th:classappend="${ currentPage == '/admin/parcels' ? '' : 'collapsed'}">
                <i class="bi bi-box-seam"></i><span>Colis</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="parcels-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav" th:classappend="${ currentPage == '/admin/parcels' ? 'show' : ''}">
                <li>
                    <a th:href="@{/admin/parcels}" th:classappend="${currentPage == '/admin/parcels' ? 'active' : ''}">
                        <i class="bi bi-circle"></i><span>Liste des colis</span>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Under Development">
            <a class="nav-link collapsed" data-bs-target="#transporter-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-truck"></i><span>Transporteurs</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="transporter-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="./transporters/add">
                        <i class="bi bi-circle"></i><span>Ajouter un transporteur</span>
                    </a>
                </li>
                <li>
                    <a href="./transporters">
                        <i class="bi bi-circle"></i><span>Liste des transporteurs</span>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Under Development">
            <a class="nav-link collapsed" data-bs-target="#deliveryman-nav" data-bs-toggle="collapse">
                <i class="bi bi-person-badge"></i><span>Livreur</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="deliveryman-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="./transporters/add">
                        <i class="bi bi-circle"></i><span>Ajouter un livreur</span>
                    </a>
                </li>
                <li>
                    <a href="./transporters">
                        <i class="bi bi-circle"></i><span>Liste des livreurs</span>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Under Development">
            <a class="nav-link collapsed" data-bs-target="#data-migration" data-bs-toggle="collapse"
               th:classappend="${currentPage == '/admin/migration/import' || currentPage == '/admin/migration/export' ? '' : 'collapsed'}"
            >
                <i class="bi bi-database"></i>

                <span>Data Migrationn</span>

                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="data-migration" class="nav-content collapse " data-bs-parent="#data-migration"
                th:classappend="${currentPage == '/admin/migration/import' || currentPage == '/admin/migration/export' ? 'show' : ''}"
            >
                <li>
                    <a href="./data/migration/import"
                       th:classappend="${currentPage == '/admin/migration/import' ? 'active' : ''}"
                    >
                        <i class="bi bi-circle"></i><span>Import Data</span>
                    </a>
                </li>
                <li>
                    <a href="./data/migration/export"
                       th:classappend="${currentPage == '/admin/migration/export' ? 'active' : ''}"
                    >
                        <i class="bi bi-circle"></i><span>Export Data</span>
                    </a>
                </li>

            </ul>
        </li>

    </ul>

</aside>
</html>