<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/partials/head.html :: head(titlePage='Delix | Add Agency')"></head>

<body>

<header th:replace="admin/partials/header.html :: header"></header>

<aside th:replace="admin/partials/sidebar.html :: aside(currentPage='/agency/add')"></aside>
<main id="main" class="main">

 <div class="pagetitle">
    <h1>Ajouter une agence</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item">Agences</li>
            <li class="breadcrumb-item active">Ajouter</li>
        </ol>
    </nav>
</div>




    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">Enter Agency details</h5>


                        <form id="add_agency_form"  action="/admin/agency/add" method="post">

    <input type="hidden" name="_csrf" th:value="${csrf_token}"/>


    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="row mb-3">
                <label for="agencyName" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" name="agencyName" id="agencyName" class="form-control"
                           required>

                </div>
            </div>


            <div class="row mb-3">
                <label for="agencyEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="agencyEmail" id="agencyEmail" class="form-control"
                           required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="agencyContactNumber" class="col-sm-2 col-form-label">Téléphone</label>
                <div class="col-sm-10">
                    <input type="text" name="agencyContactNumber" id="agencyContactNumber"
                           class="form-control" required>
                </div>
            </div>

            <div>
                <div class="card-body">

                    <h5 class="card-title">Adresse</h5>
                    <div class="row mb-3">
                        <label for="Province" class="col-sm-2 col-form-label">Province</label>
                        <div class="col-sm-10">

                            <select name="province" id="province" class="form-select" required>
                                <option disabled selected value>Sélectionnez la province</option>
                                <option th:each="province:${provinces}" th:value="${province.code}"
                                        th:text="${province.name}"></option>
                            </select>

                        </div>
                    </div>
                    <div class="row mb-3">

                        <label for="city" class="col-sm-2 col-form-label">Ville</label>
                        <div class="col-sm-10">


                            <select name="city" id="city" class="form-select" required>
                                <option disabled selected value>Sélectionnez la Province dabord</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="area" class="col-sm-2 col-form-label">Quartier</label>
                        <div class="col-sm-10">

                            <select  name="agencyAddress.areaCode" id="area" class="form-select" required>
                                <option disabled selected value>Sélectionnez la Ville dabord</option>


                            </select>




                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="address" style="padding-right: 0!important;" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" name="agencyAddress.address" id="address"
                                   class="form-control" required>
                        </div>
                    </div>





                </div>
            </div>

        </div>



        <script>
            $(document).ready(function () {
                $('#province').change(function () {
                    // Get the selected province code
                    var provinceName = $(this).find('option:selected').text();
                    searchLocationProvance(provinceName);
                    var provinceCode = $(this).val();




                    // Send a GET request to the server
                    $.get('/express/location/city?code=' + provinceCode, function (data) {
                        // Clear the city select element
                        $('#city').empty();
                        $('#area').empty();
                        $('#area').append('<option disabled selected value>Sélectionnez la Ville dabord</option>');
                        // Populate the city select element with the received data
                        $('#city').append('<option disabled selected value>Sélectionnez la ville</option>');
                        $.each(data.data, function (index, city) {
                            $('#city').append('<option value="' + city.code + '">' + city.name + '</option>');
                        });
                    });
                });





                $('#city').change(function () {
                    // Get the selected city code
                    var cityCode = $(this).val();

                    var cityName = $(this).find('option:selected').text();
                    searchLocationCity(cityName);
                    // Send a GET request to the server
                    $.get('/express/location/area?code=' + cityCode, function (data) {
                        // Clear the area select element
                        $('#area').empty();

                        // Populate the area select element with the received data
                        $('#area').append('<option disabled selected value>Sélectionnez la Quartier</option>');
                        $.each(data.data, function (index, area) {
                            $('#area').append('<option value="' + area.code + '">' + area.name + '</option>');
                        });
                    });
                });
            });





        </script>

        <div class="col-lg-6">
            <div id="map"></div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="latitude" class=" col-form-label">Latitude</label>
                    <div class="col-sm-10">
                        <input type="text" name="locationPoint.latitude" id="latitude"
                               class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="longitude" class=" col-form-label">Longitude</label>
                    <div class="col-sm-10">
                        <input type="text" name="locationPoint.longitude" id="longitude"
                               class="form-control" required>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <div th:if="${message}" class="alert  alert-dismissible fade show" role="alert"
         th:classappend="@{|alert-${message.type}}" th:text="${message.message}">

        <button th:if="${message}" type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Fermer"></button>
    </div>


    <div class="row mb-3">
        <div class="col-lg-11 text-end">
            <button class="btn btn-primary  px-4" type="submit">Soumettre</button>
        </div>
    </div>

</form>

                        <script>
                            const showAlert = (data) => {
                                let { type, message } = data
                                let autoClose
                                data.autoClose == undefined ? autoClose = 3000 : autoClose = data.autoClose

                                let toastContainer = document.createElement('div')
                                toastContainer.classList.add('toast-container')
                                var container = document.querySelector('.toast-container')
                                if (typeof (container) != 'undefined' && container != null) return
                                document.body.appendChild(toastContainer)
                                let icon
                                if(type == 'error') {
                                    icon = 'fa-circle-exclamation'
                                } else if(type == 'success'){
                                    icon = 'fa-circle-check'
                                } else if(type == 'warning'){
                                    icon = 'fa-triangle-exclamation'
                                } else if(type == 'info'){
                                    icon = 'fa-circle-info'
                                }

                                let alert = `<div class="inAlert ${type} ">
                    <div class="wrapper ">
                        <div class="icon">
                        <i class="fa-solid ${icon}"></i>
                        </div>
                        <div class="details">
                            <div class="title">${type}</div>
                            <div class="message">${message}</div>
                        </div>
                    </div>
                    <i class="fa-solid fa-xmark closeAlert"></i>
                </div>`
                                toastContainer.insertAdjacentHTML('afterbegin', alert)
                                setTimeout(() => {
                                    var isAlert = document.querySelector('.inAlert')
                                    if (typeof (isAlert) != 'undefined' && isAlert != null) isAlert.classList.add('slide-in')
                                }, 100)

                                setTimeout(() => {
                                    var isAlert = document.querySelector('.inAlert')
                                    if (typeof (isAlert) != 'undefined' && isAlert != null) isAlert.classList.remove('slide-in')
                                    setTimeout(() => {
                                        document.querySelector('.inAlert').remove()
                                        removeToast()
                                    }, 100)
                                }, autoClose)

                                let closeBtn = document.querySelector('.closeAlert')
                                closeBtn.addEventListener('click', () => {
                                    document.querySelector('.inAlert').classList.remove('slide-in')
                                    setTimeout(() => {
                                        document.querySelector('.inAlert').remove()
                                        removeToast()
                                    }, 100)
                                })
                            }

                            const removeToast = () => {
                                var container = document.querySelector('.toast-container')
                                if (!container.hasChildNodes()) container.remove()
                            }
                        </script>
                        <script >
                            document.getElementById('add_agency_form').addEventListener('submit', function(event) {
                                event.preventDefault(); // Prevent the form from submitting normally

                                let url = this.action; // The URL to send the request to
                                let formData = new FormData(this); // Create a FormData object from the form
                                  $('#loader-wrapper').show();
                                fetch(url, {
                                    method: 'POST',
                                    body: formData
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        $('#loader-wrapper').hide();


                                        if (data.success) {

                                            showAlert({type: "success",message: data.message })

                                            setTimeout(() => {
                                                window.location.href = "/admin/agencies"
                                            }, 3000)

                                        } else {


                                            showAlert({type: "success",message: data.message })


                                            if (data.error != null) {
                                                data.error.forEach(function (error) {

                                                    $('input[name="' + error.field + '"]').addClass('not-valid-item');
                                                    $('select[name="' + error.field + '"]').addClass('not-valid-item');

                                                });

                                            }

                                        }

                                        // Handle the response data here
                                        console.log(data);

                                    })
                                    .catch(error => {
                                        $('#loader-wrapper').hide();
                                        showAlert("error",error )
                                        // Handle the error here
                                        console.error('Error:', error);
                                    });
                            });
                        </script>
                    </div>
                </div>

            </div>


        </div>
    </section>

</main>

<footer th:replace="admin/partials/footer.html :: footer">

</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/loading/js/main.js"></script>
<script src="/toaster/js/toaster.js"></script>


<script src="/assets/js/main.js"></script>
<!--maps init-->
<script src="/assets/js/maps.js"></script>

</body>

</html>