<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <!-- Document Meta
============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="webdev"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap HTML5 Construction Landing Page">
    <link href="/home/assets/images/favicon/favicon.ico" rel="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Fonts
============================================= -->
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!-- Stylesheets
============================================= -->
    <link href="/home/assets/css/external.css" rel="stylesheet">
    <link href="/home/assets/css/cons.css" rel="stylesheet">
    <link href="/home/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/home/assets/css/style.css" rel="stylesheet">

    <script src="/home/assets/js/html5shiv.js"></script>
    <script src="/home/assets/js/respond.min.js"></script>
    <script src="/home/assets/js/maps.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCMuVVf83R6O5bfajZud_clhLYfMLYNKg&callback=initMap"
            defer></script>


    <title>DeliX | Delivery Service</title></head>

<body class="body-scroll">

<div id="wrapper" class="wrapper clearfix">

    <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
        <nav id="primary-menu" class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="logo" href="#">
                        <img class="logo-dark" src="/home/assets/images/logo/small_logo.png" alt="Logo">
                        <img class="logo-light" src="/home/assets/images/logo/small_logo.png" alt="Logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left nav-split nav-pos-right">
                        <li class="active"><a data-scroll="scrollTo" href="#hero">Accueil</a>
                        </li>


                        <li sec:authorize="isAuthenticated() && hasRole('ROLE_CUSTOMER')"  class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Expédition<span class="caret"></span></a>
                            <ul class="dropdown-menu"  >
                                <li><a data-scroll="scrollTo" href="/express/add-parcel">Envoyer un colis</a></li>
                                <li><a data-scroll="scrollTo" href="">Mes envois</a></li>

                                <li><a data-scroll="scrollTo" href="/express/order-quote">Devis</a></li>
                            </ul>
                        </li>



                        <li><a data-scroll="scrollTo" href="#feature">services</a>
                        </li>
                        <li><a data-scroll="scrollTo" href="#pointsservice">Points De Service</a></li>
                        <li data-scroll="scrollTo" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">À propos de DeliX <span class="caret"></span></a>
                            <ul class="dropdown-menu"  >
                                <li><a data-scroll="scrollTo" href="#portfolio">Galerie</a></li>
                                <li><a data-scroll="scrollTo" href="#skills">Performance</a></li>

                                <li><a data-scroll="scrollTo" href="#contact">Nous Contacte</a></li>
                            </ul>
                        </li>

                        <li   sec:authorize="!(isAuthenticated() && hasRole('ROLE_CUSTOMER'))">
                            <a href="/login" id="btn-inscribe">S'inscrire / Se connecter</a>
                        </li>

                        <li sec:authorize="isAuthenticated() && hasRole('ROLE_CUSTOMER')" class="dropdown el-popper"
                            style="display: flex; align-items: center; justify-content: center;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" style="margin-top: 31px!important;">
                                <img style="width: 38px; height:38px; border-radius: 50px"
                                     src="/home/assets/images/profile/profile.png"
                                     alt=""
                                >

                                <span class="dropdown-toggle"
                                      th:text="${#authentication.principal.firstName} + ' ' + ${#authentication.principal.lastName}"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li style="cursor: pointer !important;"><a  >Profile</a></li>
                                <li style="cursor: pointer !important;" ><a th:onclick="logout()" >Log ont</a></li>

                            </ul>
                        </li>




                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="hero" class="section hero hero-12 text-center bg-overlay bg-overlay-dark bg-parallax fullscreen">
        <div class="bg-section">
            <img loading="lazy" src="/home/assets/images/hero/1.jpg" alt="Background"/>
        </div>
        <div class="pos-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                        <div class="hero--content">
                            <h5 class=" my-title">FAST SAFE RELIABLE</h5>


                            <p class="hero--bio ">Un prestataire de services logistiques à guichet unique spécialisé
                                dans le transport et la livraison de colis au Maroc </p>
                            <div class="hero--action">
                                <form class="form-inline">
                                    <input type="text" class="form-control" id="your-address" name="email" style="border-radius: 5px 0 0 5px !important;"
                                           placeholder="Veuillez entrer le numéro de suivi">
                                    <button id="suivi-btn" type="submit"
                                            class="btn btn--primary btn--rounded btn--inverse mb-30">Suivi
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="feature" class="section feature feature-1 bg-white text-center">
        <div class="container" >
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                    <div class="heading mb-70">
                        <h2 class="heading--title">Services produits</h2>
                        <div data-v-625624fc="" class="under-line">
                            <div data-v-625624fc="" class="dot"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="feature-panel">
                        <div class="feature--icon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAP1BMVEUAAAD/gwD/gwD/gAD/gwD/gwD/gQD/ggD/gwD/ggD/gAD/gQD/ggD/gwD/gwD/gwD/ggD/gwD/gwD/gwD/gwAT5HFzAAAAFHRSTlMAQL8g35+AYO9QEJDPr3CgfzCeXwVTGkYAAAEDSURBVDjL5ZNbcsMgDEUBiZexnaS9+19rXWiQcMZ0pn+dnD/sg7g8ZN6e3QuFJiI0YSJG30nYYiMvZoZDx/8iJm4ANBV7RoYzCpvwZB/FCFi9D5VJxIo7lewsJ9FKyVnGsSQFBYn4UtJBsbUvW+zIxrNTZJkqXL8PViQR51hAEgr7pcgY8Jci2YHlQnzl72JE0kOKmfT40R/3qnMvHgdFpjkAfDcHAbDNoYMbkBJQ6AcGGMCdsuvzubddgJCsoZscmIj13tN4nEv9YSUPUcHaYgeqrChNPHdrBh7GfPaXV8BUo4gn628O4OciCfw9DuYM1aQr9SX4svlj8Xk4/49izf/iC6qpFytR/hQ1AAAAAElFTkSuQmCC">
                        </div>
                        <div class="feature--content">
                            <h3>Livraison directe dans tout le pays</h3>
                            <p>Nous assurons une livraison directe à l'échelle nationale, couvrant toutes les régions et
                                villes majeures. Notre service est rapide, fiable et sécurisé, garantissant une
                                livraison en temps voulu de votre colis. Contactez-nous pour obtenir des informations
                                sur les tarifs et les horaires.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="feature-panel">
                        <div class="feature--icon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAPFBMVEUAAAD/gQD/ggD/gwD/gwD/gwD/gwD/gAD/gAD/gwD/gwD/gwD/gQD/ggD/gwD/ggD/gAD/hQD/gwD/gwAunLMKAAAAE3RSTlMAQGCf37/vIBCvgF+QUG/PMDBwgwKtaQAAAQ9JREFUOMvVlNuygyAMRRMCBLBeevz/fz2aDBRKq750pt0vTmSxSYAAPym8eU94RoXJrSI78LGZQLOwcXxjlsTMRwS4k5UZxL1Z9HlNEBnNwQ2tmVD+1viwhp6WzCWdO4XNmJr0Rg1t0FACAhUbW1etEWYwr9ikR4vU14AutpkzaXryM1YgAad2Q8K8an0IpgYl82JbNosCQA9CsdV1t3kGerAuRDcL34Iq3pziPnIGKvApcLwE3lcHl0AIcBGErwJnPgBTAffjJXwNhr99lDVguS3z0IOLdl16ujN24gZEl+9uUWk/YgUfLZxCRdVt7IYdRPISILyUyS2l38Qd0WZQ3oNDMVl9qc4VRiNmn9Y/pRgcp9g7R/4AAAAASUVORK5CYII=">
                        </div>
                        <div class="feature--content">
                            <h3>Entrepôt dans la plupart des villes</h3>
                            <p>Nous avons des installations de stockage dans la plupart des villes. Cela nous permet de
                                stocker une grande quantité de colis et de les distribuer rapidement à nos clients dans
                                différentes villes.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="feature-panel">
                        <div class="feature--icon">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAJ1BMVEUAAAD/ggD/gwD/gwD/gQD/gAD/gwD/gwD/gwD/ggD/gAD/gAD/gwApDWq/AAAADHRSTlMAYKB/gCDfz0BwQBAfh4rxAAAAjUlEQVQoz83OPQrCQBRF4YciWKRJb5EFWLgAy4AIFjazE5fgQtyEvT9gdRflMAz3KKQJpMhtHhy+4sVUW+4G4v49ACVToAQFQoGvrSmwW5gCI0yBEVBgQIFQIBR4TylVCjxJn0KBNRZqWKPp6qBHPte+P+bT6HIuj+ToNepitvHZehvH342O6/Zvt5jjvh6HeQ+gfRplAAAAAElFTkSuQmCC">
                        </div>
                        <div class="feature--content">
                            <h3>Livraison Locale</h3>
                            <p>Nous fournissons un service de livraison locale à travers la ville. en utilisant notre
                                connaissance approfondie de la région locale. Notre équipe dédiée travaille sans relâche
                                pour s'assurer que vos colis arrivent à destination en temps et en heure.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<section id="portfolio" class="section portfolio portfolio-grid portfolio-2 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="heading text-center mb-70">
                    <h2 class="heading--title">Galerie</h2>
                    <div data-v-625624fc="" class="under-line">
                        <div data-v-625624fc="" class="dot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter">
                <ul class="list-inline">
                    <li><a class="active-filter" href="#" data-filter="*">Tout</a></li>
                    <li><a href="#" data-filter=".filter-building">Transport</a></li>
                    <li><a href="#" data-filter=".filter-construction">Emballage</a></li>
                    <li><a href="#" data-filter=".filter-planning">Design réactif</a></li>

                </ul>
            </div>
        </div>
        <div id="portfolio-all" class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-building">
                <div class="portfolio--img">
                    <img loading="lazy" src="/home/assets/images/gallery/logistic/1.jpg"
                         alt="image de portfolio"/>
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item"
                                                            href="/home/assets/images/gallery/logistic/1.jpg"></a>
                            </div>
                            <h6><a href="#">Flotte d'expédition</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-construction">
                <div class="portfolio--img">
                    <img loading="lazy" src="/home/assets/images/gallery/constructions/2.png"
                         alt="image de portfolio"/>
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item"
                                                            href="/home/assets/images/gallery/constructions/full/2.png"></a>
                            </div>
                            <h6><a href="#">Emballage pour articles fragiles</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-planning">
                <div class="portfolio--img">
                    <img loading="lazy" src="/home/assets/images/gallery/constructions/3.png"
                         alt="image de portfolio"/>
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item"
                                                            href="/home/assets/images/gallery/constructions/full/3.png"></a>
                            </div>
                            <h6><a href="#">sur ordinateur portable</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-construction">
                <div class="portfolio--img">
                    <img loading="lazy" src="/home/assets/images/gallery/constructions/4.png"
                         alt="image de portfolio"/>
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item"
                                                            href="/home/assets/images/gallery/constructions/full/4.png"></a>
                            </div>
                            <h6>Emballage</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-building">
                <div class="portfolio--img">
                    <img loading="lazy" src="/home/assets/images/gallery/constructions/5.jpg"
                         alt="image de portfolio"/>
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item"
                                                            href="/home/assets/images/gallery/constructions/5.jpg"></a>
                            </div>
                            <h6><a href="#">Ramassage des colis</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 portfolio-item filter-planning">
                <div class="portfolio--img">
                    <img loading="lazy" src="/home/assets/images/gallery/constructions/6.png"
                         alt="image de portfolio"/>
                    <div class="portfolio--hover">
                        <div class="portfolio--meta">
                            <div class="portfolio--zoom"><a class="img-gallery-item"
                                                            href="/home/assets/images/gallery/constructions/full/6.png"></a>
                            </div>
                            <h6><a href="#">sur téléphone</a></h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section id="skills" class="section skills skills-1 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="heading mb-30">
                        <h2 class="heading--title">Notre Performance</h2>
                        <p class="heading--desc">Nous sommes extrêmement fiers de notre skills de livraison, nous nous
                            efforçons constamment de répondre et de dépasser les attentes. Notre engagement envers
                            l'excellence se reflète dans nos domaines de skills clés. Nous croyons en la transparence et
                            la responsabilité, et nous voulons que nos clients sachent exactement comment nous nous en
                            sortons. Voici un regard détaillé sur nos mesures de skills dans des domaines cruciaux de
                            notre prestation de service.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
                    <div class="progressbar">
                        <div class="progress-title">
                            <span class="title">Livraison à l'heure</span>
                            <span class="value">90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="progressbar">
                        <div class="progress-title">
                            <span class="title">Sécurité des colis</span>
                            <span class="value">95%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="progressbar">
                        <div class="progress-title">
                            <span class="title">Satisfaction du client</span>
                            <span class="value">88%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="progressbar">
                        <div class="progress-title">
                            <span class="title">Zone de couverture</span>
                            <span class="value">80%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="cta2" class="section cta cta-2 bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="pull-left text-left">
                        <h3>Cliquez ici pour obtenir un devis pour nos services</h3>
                    </div>
                    <div class="pull-right text-right">
                        <a class="btn btn--white btn--bordered btn--rounded" href="#">Devis</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pointsservice" class="section pointsservice pointsservice-5 bg-gray">


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                    <div class="heading text-center mb-70">
                        <h2 class="heading--title">Trouver un point de service</h2>
                        <div data-v-625624fc="" class="under-line">
                            <div data-v-625624fc="" class="dot"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 0 !important;margin-right: 0 !important;">
                <div class="col-xs-10  col-md-offset-1"
                     style="min-width: 700px; width: 100%; padding: 0!important; margin-left: 0 !important;">
                    <div id="map-container"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section bg-white ">


        <div class=" row widget--boxes text-center">
            <div class="heading text-center mb-70">
                <h2 class="heading--title">Contactez-nous</h2>
                <div data-v-625624fc="" class="under-line">
                    <div data-v-625624fc="" class="dot"></div>
                </div>

                <p class="heading--subtitle">Si vous avez des questions, veuillez nous contacter en utilisant les
                    coordonnées <br>ci-dessous et nous serons heureux de vous aider.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="widget--info-box">
                    <img class="bottom-marg" src="/home/assets/images/icons/location.svg" alt="author image">
                    <h4>Adresse</h4>
                    <p>Faculté des Sciences Dhar El Mahraz,<br>FES, MA, ZIP 30000. </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="widget--info-box">
                    <img class="bottom-marg" src="/home/assets/images/icons/phone.svg" alt="author image">
                    <h4>Téléphone</h4>
                    <p>Téléphone: +212681312798</p>
                    <p>Fax: +212681312798</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="widget--info-box">
                    <img class="bottom-marg" src="/home/assets/images/icons/convert.svg" alt="author image">
                    <h4>Email</h4>
                    <p>support@delix.ma</p>
                    <p>https://delix.ma</p>
                </div>

            </div>

        </div>


    </section>
</div>


<footer id="footer9" class="footer footer-5 footer-8 footer-9 bg-white text-center-xs pt-0 pb-0">

    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget--copyright">
                        <span>Copyright &copy; DeliX 2024 / All Rights Reserved.</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget--social text-right text-center-xs">
                        <a class="facebook" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="dribbble" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="instagram" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</footer>


</div>
<script>
    let token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    let header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
    function logout() {
        fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                [header]: token
            },
            body: '' // No body for this request
        })
            .then(response => {
                if(response.ok) {
                    // Redirect to login page or show a success message
                    window.location.href = '/login';
                } else {
                    // Handle errors
                    console.error('Logout failed');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu li a').click(function (e) {
            $('.dropdown-menu li.active').removeClass('active');
            var $parentt = $(this).parent();
            $parentt.addClass('active');
            e.preventDefault();
        });
    });
</script>
<script src="/home/assets/js/jquery-2.2.4.min.js"></script>
<script src="/home/assets/js/plugins.js"></script>
<script src="/home/assets/js/functions.js"></script>
</body>

</html>